<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>IP Table</title>
    <link crossorigin="anonymous" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" href="https://lib.baomitu.com/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">

    <style>
      body {
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <h3>PC Id: {{id}}</h3>
    <h3>New Version</h3>
    <h3>Visit Time: {{count}}</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>name</th>
          <th>ip</th>
          <th>pid</th>
          <th>ppid</th>
        </tr>
      </thead>
      <tbody>
        {% for ip in ips %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ ip.name }}</td>
          <td>{{ ip.ip }}</td>
          <td>{{ ip.pid }}</td>
          <td>{{ ip.ppid }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
