<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>IP Table</title>
    <link
      href="//s2.pstatp.com/cdn/expire-1-M/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
      rel="stylesheet"
    />

  
    <style>
      body {
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>name</th>
          <th>ip</th>
          <th>pid</th>
          <th>ppid</th>
        </tr>
      </thead>
      <tbody>
        {% for ip in ips %}
        <tr>
          <th scope="row">{{ loop.index }}</th>
          <td>{{ ip.name }}</td>
          <td>{{ ip.ip }}</td>
          <td>{{ ip.pid }}</td>
          <td>{{ ip.ppid }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
